*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-icons: #929292;
    --clr-text: #fff;
    --clr-bg-dark:  #242424;
    --clr-bg-light: #3b3b3b;
    --clr-accent: #ff7600;
 
}
body {
    
}

img {
    max-width: 100%;

}